# Ignore log files
*.log

# Ignore metadata for privacy
metadata.csv

# Ignore data files
transformed_data.csv
output_test.csv
clean_out_test.csv
real_out_test.csv

# Ignore OS-specific files
.DS_Store

# Ignore pychache 
__pycache__/